.App {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-image: url(./images/background.png);
  background-position: top center;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pokemon-card {
  display: grid;
  grid-template-rows: repeat(2, 0.5fr minmax(0, 2fr));
  grid-template-columns: 4em;
  padding-inline: 2rem;
  background-color: rgb(255, 203, 5);
  border: black solid 3px;
  border-radius: 5%;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.2);
}

.pokemon-card-title {
  color: black;
  font-size: 0.5em;
  text-transform: uppercase;
  padding-top: 5px;
}

.pokemon-card-picture {
  border: 2px solid black;
  background-color: rgb(42, 117, 187);
  justify-content: center;
  box-shadow: 0 0 0.5rem 0.2em rgba(0, 0, 0, 0.3);
}

.pokemon-card p {
  font-size: 0.4em;
  color: black;
}

.action-buttons {
  display: flex;
  justify-content: space-evenly;
}

.pokemon-table {
  background-color: rgb(255, 203, 5);
  border: black solid 3px;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.2);
}

.type-table-container {
  width: 80%;
  padding-top: 3rem;
}

.navigation {
  display: inline;
  padding: 1rem;
}

.navigation ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.navigation ul,
li {
  margin: 0;
  padding: 0;
}

.navigation li {
  color: black;
}

.navigation li a {
  text-decoration: none;
}

.result-container {
  padding-top: 1rem;
}
